[Desktop Entry]
Type=Application
Name=failBrauwser
GenericName=File Manager
Comment=Browse files and archives, fast
Exec=failbrauwser %U
TryExec=failbrauwser
Icon=org.failbrauwser.FailBrauwser
Terminal=false
StartupNotify=true
Categories=System;FileTools;FileManager;GTK;
Keywords=folder;manager;explore;disk;filesystem;archive;zip;
MimeType=inode/directory;application/zip;application/x-7z-compressed;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-xz-compressed-tar;application/x-zstd-compressed-tar;application/vnd.rar;application/x-rar;application/x-cpio;application/vnd.debian.binary-package;application/x-rpm;application/vnd.ms-cab-compressed;application/x-lha;application/x-arj;application/x-cbz;application/x-cbr;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=failbrauwser
